{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "vllm": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "QWENVL235",
       "options": {
        "baseURL": "http://10.0.0.50:50000/v1",
        "contextLength": 262144
      },
      "models": {
        "QWENVL235": {
                  "name": "QWENVL235",
        "limit": {
          "context": 262144,
          "output": 262144
        },
        "modalities": {
          "input": ["text", "image"],
          "output": ["text"]
        }
        }
      }
    }
  }
}